extends layout

block content
  div(class='home')
    if (currentUser)
      div(class='newMessage')
        textarea(name="msg", cols="30", rows="10", form="messageForm") 
        form(action="/new-message", method="post" id="messageForm") 
          button(class='sendMessage') Send
      each userMessage in userMessages
        div(class='message')
          h2= userMessage.author.username
          if (userMessage.created === userMessage.updated)
            h3= userMessage.created
          else
            h3= `${userMessage.created} Edited at:${userMessage.updated}`
            
          if (`${userMessage.author._id}` === `${currentUser._id}`)
            div(class="updateDelete")
              button Edit 
              button(data-doc=`${userMessage._id}`) Del
                
          p= userMessage.content
  script.
    const del = document.querySelector('.home')
    del.onclick = (event) => {
      if (event.target.textContent !== 'Del') return
      const status = confirm('This action cannot be undone! Press OK to proceed');
      if (status){
        fetch(`/message/delete/${event.target.dataset.doc}`, {
          method: 'DELETE'
        }).then(()=>{
          window.location.href = '/'
        })
      }
    }

