extends layout

block content
  div(class='home')
    if (currentUser)
      if (currentUser.admin)
        div(class='newMessage')
          textarea(name="msg", cols="30", rows="10", form="messageForm")
          form(action="/new-message", method="post" id="messageForm") 
            button(class='sendMessage') Send
        div(class='messagesContainer')
          each userMessage in userMessages
            if (`${userMessage.author._id}` === `${currentUser._id}`)
              div(class='message op')
                a(href=`/user-${userMessage.author._id}`) 
                  h2= userMessage.author.username
                if (userMessage.created === userMessage.updated)
                  h3= userMessage.created
                else
                  h3= `edited: ${userMessage.updated}`
                if (`${userMessage.author._id}` === `${currentUser._id}`)
                  div(class="updateDelete")
                    button(data-doc=`${userMessage._id}`) Edit
                    button(data-doc=`${userMessage._id}`) Del
                      
                p= userMessage.content
            else
              div(class='message admin')
                a(href=`/user-${userMessage.author._id}`) 
                  h2= userMessage.author.username
                if (userMessage.created === userMessage.updated)
                  h3= userMessage.created
                else
                  h3= `${userMessage.created} Edited at:${userMessage.updated}`
                div(class="updateDelete")
                  button(data-doc=`${userMessage._id}`) Edit
                  button(data-doc=`${userMessage._id}`) Del
                p= userMessage.content
      else
        div(class='newMessage')
          textarea(name="msg", cols="30", rows="10", form="messageForm")
          form(action="/new-message", method="post" id="messageForm") 
            button(class='sendMessage') Send
        div(class='messagesContainer')
          each userMessage in userMessages
            if (`${userMessage.author._id}` === `${currentUser._id}`)
              div(class='message op')
                a(href=`/user-${userMessage.author._id}`) 
                  h2= userMessage.author.username
                if (userMessage.created === userMessage.updated)
                  h3= userMessage.created
                else
                  h3= `edited: ${userMessage.updated}`
                if (`${userMessage.author._id}` === `${currentUser._id}`)
                  div(class="updateDelete")
                    button(data-doc=`${userMessage._id}`) Edit
                    button(data-doc=`${userMessage._id}`) Del
                      
                p= userMessage.content
            else
              div(class='message')
                a(href=`/user-${userMessage.author._id}`) 
                  h2= userMessage.author.username
                if (userMessage.created === userMessage.updated)
                  h3= userMessage.created
                else
                  h3= `${userMessage.created} Edited at:${userMessage.updated}`
                p= userMessage.content
    else 
      div(class='messagesContainer visit')
        each userMessage in userMessages
          div(class='message')
            h2 Member
            h3 Sign in to see details
            p= userMessage.content

  script.
    if (document.querySelector('.newMessage > form')) {
      const newMessageArea = document.querySelector('.newMessage > textarea')
      const newMessageForm = document.querySelector('.newMessage > form')

      newMessageForm.onsubmit = (event) => {
        if (newMessageArea.value.trim() === '') {
          event.preventDefault()
        }
      }
    }

    const del = document.querySelector('.home')
    del.onclick = (event) => {
      if (event.target.textContent === 'Del') {
        const status = confirm('This action cannot be undone! Press OK to proceed');
        if (status){
          fetch(`/message/delete/${event.target.dataset.doc}`, {
            method: 'DELETE'
          }).then(()=>{
            window.location.href = '/'
          })
        }
      }
      if (event.target.textContent == 'Edit') {
        //- .replaceWith(document.createElement('textarea'))
        const message = event.target.parentElement.nextSibling
        const div = document.createElement('div')
        const textarea = document.createElement('textarea')
        const saveButton = document.createElement('button')
        const cancelButton = document.createElement('button')
        const form = document.createElement('form')

        cancelButton.onclick = (event) => {
          event.preventDefault();
          form.replaceWith(message)
        }
        form.method = "POST";
        form.action = `/message/edit/${event.target.dataset.doc}`; 
        form.id = 'editMessage'
        textarea.name = 'msg'
        textarea.value = message.textContent;
        saveButton.textContent = 'Save';
        cancelButton.textContent = 'Cancel';
        form.appendChild(textarea)
        div.appendChild(saveButton)
        div.appendChild(cancelButton)
        form.appendChild(div)
        message.replaceWith(form)

        form.onsubmit = (event) => {
          if (textarea.value === '') {
            event.preventDefault()
          }
        }
      }
    }

